<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Superheroes</key>
	<dict>
		<key>SPIDERMAN</key>
		<string></string>
		<key>SUPERMAN</key>
		<string></string>
		<key>BATMAN</key>
		<string></string>
	</dict>
	<key>TV Shows</key>
	<dict>
		<key>JOEY</key>
		<string></string>
		<key>FRIENDS</key>
		<string></string>
		<key>BONES</key>
		<string></string>
		<key>CASTLE</key>
		<string></string>
	</dict>
	<key>Food</key>
	<dict>
		<key>SALAD</key>
		<string></string>
		<key>FRIES</key>
		<string></string>
		<key>BURGER</key>
		<string></string>
		<key>BREAD</key>
		<string></string>
		<key>RICE</key>
		<string></string>
		<key>PIZZA</key>
		<string></string>
	</dict>
	<key>Countries</key>
	<dict>
		<key>CUBA</key>
		<string></string>
		<key>CHINA</key>
		<string></string>
		<key>FRANCE</key>
		<string></string>
		<key>ENGLAND</key>
		<string></string>
		<key>ITALY</key>
		<string></string>
		<key>SPAIN</key>
		<string></string>
		<key>MEXICO</key>
		<string></string>
		<key>AUSTRALIA</key>
		<string></string>
		<key>CANADA</key>
		<string></string>
		<key>RUSSIA</key>
		<string></string>
		<key>INDIA</key>
		<string></string>
		<key>USA</key>
		<string></string>
	</dict>
	<key>Cars</key>
	<dict>
		<key>JAGUAR</key>
		<string></string>
		<key>FERRARI</key>
		<string></string>
		<key>LAMBORGHINI</key>
		<string></string>
		<key>PORSCHE</key>
		<string></string>
		<key>MERCEDES</key>
		<string></string>
		<key>TOYOTA</key>
		<string></string>
		<key>SUBARU</key>
		<string></string>
		<key>FORD</key>
		<string></string>
		<key>BUICK</key>
		<string></string>
		<key>CADILLAC</key>
		<string></string>
		<key>DODGE</key>
		<string></string>
		<key>CHEVROLET</key>
		<string></string>
		<key>HYUNDAI</key>
		<string></string>
		<key>NISSAN</key>
		<string></string>
		<key>HONDA</key>
		<string></string>
		<key>MASERATI</key>
		<string></string>
		<key>ACURA</key>
		<string></string>
	</dict>
	<key>Animals</key>
	<dict>
		<key>JAGUAR</key>
		<string></string>
		<key>GIRAFFE</key>
		<string></string>
		<key>ZEBRA</key>
		<string></string>
		<key>COW</key>
		<string></string>
		<key>MOOSE</key>
		<string></string>
		<key>DEER</key>
		<string></string>
		<key>TIGER</key>
		<string></string>
		<key>LION</key>
		<string></string>
		<key>DOG</key>
		<string></string>
		<key>CAT</key>
		<string></string>
	</dict>
</dict>
</plist>
